## Thử kết nối

In [1]:
import mysql.connector
mysql.connector.connect(host='remotemysql.com',database='6ofbUUzXBM',user='6ofbUUzXBM',password='Yrzy7xi6XQ')

## Kết nối bằng hàm trong Python

In [6]:
from mysql.connector import MySQLConnection, Error
 
# Hàm kết nối
def connect():
    """ Kết nối MySQL bằng module MySQLConnection """
    db_config = {
        'host': 'remotemysql.com',
        'database': '6ofbUUzXBM',
        'user': '6ofbUUzXBM',
        'password': 'Yrzy7xi6XQ'
    }
 
    # Biến lưu trữ kết nối
    conn = None
 
    try:
        conn = MySQLConnection(**db_config)
        if conn.is_connected():
            return conn
    except Error as error:
        print(error)
 
    return conn
 
# Test thử
conn = connect()
print(conn)

<mysql.connector.connection.MySQLConnection object at 0x000002D92A692DF0>

## Lấy dữ liệu MySQL
### Dùng fetchone()

In [7]:
def show_offices():
    try:
        conn = connect()

        cursor = conn.cursor()
        cursor.execute("SELECT * FROM offices")
 
        row = cursor.fetchone()
 
        while row is not None:
            print(row)
            row = cursor.fetchone()
 
    except Error as e:
        print(e)
 
    finally:
        # Đóng kết nối
        cursor.close()
        conn.close()

### Fetchall()
* Lưu ý: Với dữ liệu lớn thì ta không nên sử dụng phương thức này bởi nó sẽ tốn nhiều tài nguyên để lưu trữ data trả về, trường hợp xấu nhất là làm ứng dụng bị chết.

In [ ]:
def show_productlines():
    try:
        conn = connect()
        cursor = conn.cursor()
        cursor.execute("SELECT * FROM productlines")
 
        rows = cursor.fetchall()
 
        print('Total Row(s):', cursor.rowcount)
        for row in rows:
            print(row)
 
    except Error as e:
        print(e)
 
    finally:
        # Đóng kết nối
        cursor.close()
        conn.close()

### Fetchmany()

Đầu tiên hãy xây dựng một hàm có công dụng tra về số dòng dữ liệu như tham số truyền vào.
Tiếp theo ta có thể sử dụng ham fiter_row để lấy mỗi lần 10 rows cho mỗi lần fetch dữ liệu.

In [21]:
def iter_row(cursor, page, size=10):
    
count = 0    while Trcount < page 
         count += 1      rows = cursor.fetchmany(size)
        if not rows:
            break
        for row in rows:
            yield row
         def show_products()page, size=10:
    try:
        conn = connect()
        cursor = conn.cursor()
   buffered=True     cursor.execute("SELECT * FROMproductCode, productNamebookproducts
        for row in iter_row(cursor, 10):
  page, size        print(row)
 
    except Error as e:
        print(e)
 
    finally:
        # Đóng kết nối
        cursor.close()
        conn.close()

In [22]:
show_products(2, 3)

('S10_1678', '1969 Harley Davidson Ultimate Chopper')
('S10_1949', '1952 Alpine Renault 1300')
('S10_2016', '1996 Moto Guzzi 1100i')
('S10_4698', '2003 Harley-Davidson Eagle Drag Bike')
('S10_4757', '1972 Alfa Romeo GTA')
('S10_4962', '1962 LanciaA Delta 16V')